In [8]:
import pandas as pd 
import pymysql 
import csv

In [9]:
data = pd.read_csv('2022_LCK_spring_ranking.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=0)

data.index.name = "no"
data.columns = ["season_title", "ranking", "team_name", "win_count", "lose_count", "goal_difference", "winning_rate", "kda_score", "kill_count", "death_count","assist_count",]

C:\Users\user\AppData\Local\Temp\ipykernel_541340\1402804468.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv('2022_LCK_spring_ranking.csv', engine='python', encoding='UTF-8', error_bad_lines=False, index_col=0)

In [10]:
data

,season_title,ranking,team_name,win_count,lose_count,goal_difference,winning_rate,kda_score,kill_count,death_count,assist_count
no,,,,,,,,,,,
0,2022 LCK 스프링,1,T1,18,0,29,1.00,4.86,686,686,686
1,2022 LCK 스프링,2,젠지,15,3,18,0.83,4.39,567,567,567
2,2022 LCK 스프링,3,담원 기아,11,7,12,0.61,4.16,514,514,514
3,2022 LCK 스프링,4,DRX,11,7,3,0.61,3.04,450,450,450
4,2022 LCK 스프링,5,프레딧,8,10,-3,0.44,3.42,485,485,485
5,2022 LCK 스프링,5,광동,8,10,-3,0.44,3.89,480,480,480
6,2022 LCK 스프링,7,KT,7,11,-5,0.39,3.09,517,517,517
7,2022 LCK 스프링,8,농심,5,13,-13,0.28,2.53,469,469,469
8,2022 LCK 스프링,9,리브 샌박,4,14,-19,0.22,1.86,353,353,353
9,2022 LCK 스프링,10,한화생명,3,15,-19,0.17,2.52,420,420,420

In [19]:
# table이 없거나 이미 drop되어있으면 error가 뜸
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'eddi',
    passwd = 'eddi@123',
    db = 'jpa_test_db'
)

cursor = db.cursor()

cursor = db.cursor()

sql = """
    drop table team_ranking
"""

cursor.execute(sql)

db.close()

In [20]:
#MySQL table Create
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'eddi',
    passwd = 'eddi@123',
    db = 'jpa_test_db'
)

cursor = db.cursor()

sql = """
    create table team_ranking(
        id integer not null auto_increment primary key,
        season_title text not null,
        ranking text not null,
        team_name text not null,
        win_count text not null,
        lose_count text not null,
        goal_difference text not null,
        winning_rate text not null,
        kda_score text not null,
        kill_count text not null,
        death_count text not null,
        assist_count text not null)
"""

cursor.execute(sql)

db.commit()
db.close()

print('TeamRanking table create success!')

TeamRanking table create success!

In [23]:
f = open('2022_LCK_summer_ranking.csv', 'r', encoding='UTF-8')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)

<_csv.reader object at 0x000002773B0E0C40>

In [24]:
cnt = 0

db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'eddi',
    passwd = 'eddi@123',
    db = 'jpa_test_db'
)

cursor = db.cursor()

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
    
    season_title = (row[1])
    ranking = (row[2])
    team_name = (row[3])
    win_count = (row[4])
    lose_count = (row[5])
    goal_difference = (row[6])
    winning_rate = (row[7])
    kda_score = (row[8])
    kill_count = (row[9])
    death_count = (row[10])
    assist_count = (row[11])
        
    sql = "INSERT INTO team_ranking (season_title, ranking, team_name, win_count, lose_count, goal_difference, winning_rate, kda_score, kill_count, death_count, assist_count) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        
    cursor.execute(sql, (season_title, ranking, team_name, win_count, lose_count, goal_difference, winning_rate, kda_score, kill_count, death_count, assist_count))

db.commit()

f.close()
db.close()